body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  a{
    padding: 80px;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00ffbb;
    text-shadow: 2px 4px 0px #000;
  }

  #memory-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: #00ffbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .card.flipped {
    background-color: #00aaff;
  }